
/* ------------------------------------------------------------------------------------------ */

@media only screen and (max-width: 300px) {
  .col-xs{
      display: none;
  }
}

@media only screen and (max-width: 600px) {
  .col-s{
      display: none;
  }
}

@media only screen and (max-width: 900px) {
  .col-m{
      display: none;
  }
}
@media only screen and (max-width: 1200px) {
  .col-l{
      display: none;
  }
}

@media only screen and (max-width: 1500px) {
  .col-xl{
      display: none;
  }
}
